* {
  /* cursor: url('./assests/images/cursor.png'), auto; */
}

/* url('./assests/images/cursor.png') */
body {
  height: 100vh;
  width: 100vw;
  background: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
